.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;

  &--centered {
    margin: 0 auto;
  }

  svg {
    width: 100% !important;
    height: 100% !important;
    z-index: 0;
    margin: 0 !important;
    animation: progress-circular-rotate 1.4s linear infinite;
    transform-origin: center center;
    transition: all .2s ease-in-out;
  }

  &__overlay {
    stroke:  rgba(0,0,0,0.2);
    z-index: 2;
    transition: all .6s ease-in-out;
    animation: progress-circular-dash 1.4s ease-in-out infinite;
    stroke-linecap: round;
    stroke-dasharray: 80,200;
    stroke-dashoffset: 0px;
  }
}